body {
    background-image: url("https://images.ctfassets.net/cnu0m8re1exe/5rbmLp9h6Xk7WBETUO2Vui/bc9da4fdecc5ded795fa252b47d310b7/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.headingOne {
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.input-group {
    margin-top: 600px;
}

#result-container {
    position: relative;
}

.resultCard {
    transition: transform 0.2s;
}

.resultCard:hover {
    transform: scale(1.01);
}

#search-bar {
    width: 37rem;
}

main {
    height: fit-content;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
}

.card-header {
    height: 9rem;
}

.factIcon {
    cursor: pointer;
}

.card-img-bottom {
    height: 26.625rem;
    object-fit: cover;
}

.cardSub {
    font-weight: bold;
}


.icon {
    height: 2rem;
    width: 2rem;
}

#clear-button {
    position: absolute;
        top: -105px;
        right: 30px;
    font-size: small;
}

@keyframes animation {
    25% {
        transform: scale(1.2);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(-45deg);
    }

    100% {
        transform: scale(1);
    }

}

.logo {
    height: 3rem;
    width: 3rem;
    position: relative;
    top: -8px;
}

.animate {
    animation-name: animation;
    animation-duration: 5s;
}

.search-history-icon {
    width: 2rem;
    height: 2rem;
}