body {
    background-image: url("https://images.ctfassets.net/cnu0m8re1exe/5rbmLp9h6Xk7WBETUO2Vui/bc9da4fdecc5ded795fa252b47d310b7/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.input-group {
    margin-top: 600px;
}

#result-container {
    position: relative;
}

.resultCard {
    transition: transform 0.2s;
}

.resultCard:hover {
    transform: scale(1.01);
}

.logo {
    height: 4rem;
    width: 4rem;
    position: relative;
        top: -8px;
}

#search-bar {
    width: 37rem;
}

main {
    height: fit-content;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
}

.card-header {
    height: 9rem;
}

.factIcon {
    cursor: pointer;
}

.card-img-bottom {
    height: 26.625rem;
    object-fit: cover;
}

.cardSub {
    font-weight: bold;
}


.icon {
    height: 2rem;
    width: 2rem;
}

#clear-button {
    position: absolute;
        top: -45px;
        right: 0;
    font-size: small;
}
